*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxs{
    width: 800px;
    height: 200px;
    background-color: red;
   margin-left: 40%;
   margin-top: 20%;
   padding: 200px;
outline-width: 50px;
outline-color: blue;
outline-style: double;
outline-offset: 90px;
   /* border-style: double;
 border-width: 40px;
border-color: aqua; */

 
}
p{
    width: 400px;
    height: 100px;
    background-color: aqua;
   margin-left: 10px;
   margin-top: -100px;
   padding: 100px;
   border: 20px solid green;
   outline-offset: 20px;
   
}
